.vscode/*
__pycache__/*
.mypy_cache/*
lightning_logs/*
outdir/*
model_checkpoints/*
wandb/*
tb_logs/*
data/splits/melanoma/laptop_test/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
